<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="/static/css/Dublinbikes.css">

</head>
<body>

    <!--Flex box setup-->
    <div class="flexb">
        <div class="flex-row">
            <div class="flex-item" id="top-left">Dublin Bikes</div>
            <div class="flex-item" id="top-right"></div>
        </div>
        <div class="flex-row">
            <div class="flex-item" id="map-container">
                <div id="map">Map Here</div>
            </div>
            <div id="side-info" class="flex-item" id="bottom-right"></div>
        </div>
    </div>

    <!--Google maps API script-->
    <script>

        // Initialising the map + setting its parameters.
        function initMap() {
            let mapOptions = {
                center: new google.maps.LatLng(53.3498, -6.2603),
                zoom: 14,
            }

            let map = new google.maps.Map(document.getElementById('map'), mapOptions);

            // Fetching the static JSON with station data.
            fetch('/stations_json_data')
            .then(response => response.json())
            .then(data => {
            addBikeStationMarkers(map, data);
            updateMarker(map, data);                                                                   
    })
            .catch(error => console.error('Error loading JSON data:', error));
        }
    </script>
    
    <!--Google Maps API + places library important, for searchbar-->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GMAP_API_KEY }}&libraries=places&callback=initMap"></script>
    <!--Library for clustering the markers-->
    <script src="https://unpkg.com/@google/markerclustererplus@5.0.0/dist/markerclustererplus.min.js"></script>
    <script src="/static/js/fetchWeatherData.js"></script>
    <script src="/static/js/addBikeStationMarkers.js"></script>
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Include Moment.js library -->
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
<!-- Include Chart.js adapter for Moment.js -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0/dist/chartjs-adapter-moment.min.js"></script>
<!-- Include the weather data -->
    <!-- <script src="/static/js/addBikeStationMarkers.js"></script> -->
    <!-- <script src="/static/js/displayAggregateHistoricalData.js"></script> -->
</body>
</html>
