<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="/static/css/Dublinbikes.css">

</head>
<body>
    
    <!--Maps container-->
    <div id="container">
        <div id="map"></div>
    </div>
    
    <!--Live weather container-->
    <div id="weather-container"> </div>   

    <!--Search bar container-->
    <div id="search-container">
        <input id="search" type="text" placeholder="Search for a bike station"> 
        </div>

    <!--Google maps API script-->
    <script>

        // Initialising the map + setting its parameters.
        function initMap() {
            let mapOptions = {
                center: new google.maps.LatLng(53.3498, -6.2603),
                zoom: 14,
            }

            let map = new google.maps.Map(document.getElementById('map'), mapOptions);

            fetch('/static/js/DublinBikes.json')
            .then(response => response.json())
            .then(data => {
            addBikeStationMarkers(map, data.records);
    })
            .catch(error => console.error('Error loading JSON data:', error));
        }
    </script>

        
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GMAP_API_KEY }}&callback=initMap"></script>
    <script src="/static/js/addBikeStationMarkers.js"></script>
    
</body>
</html>
