@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(221, 221, 221, 0.8);
    

}    

button{
    border-radius: 25px;
    background-color: rgba(10, 49, 97, 0.8);
    color: white;
    padding: 1%;
    box-shadow: #000 0px 0px 5px;
    cursor: pointer;
}

#planJourneyButton{
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

button:disabled {
    box-shadow: none;
    cursor: not-allowed;
    
}

#search {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -120px;
    width: 250px;
    background-color: rgb(250, 250, 250);
    padding: 5px;
    font-size: 15px;
    border: 0px;
}

/* For search bar */
.map-search {
    /* position: absolute; */
    width: 120px;
    height: 20px;
    font-size: 16px;
    margin: auto;
}

/* For flexbox */
.flexb {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-row:first-child {
    height: 40px; 
}

.flex-row {
    display: flex;
    flex: 1; 
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
    /* border: .01px solid #00000024;  */
    box-sizing: border-box; 
}

#top-left {
    font-size: 60px;
    color: white;
    background-color: #008cff; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row; 
    /* background-image: linear-gradient(to left, #008cff, 80%, orange); */
    /* background-color: rgb(64, 137, 251); */

    background-color: rgba(10, 49, 97, 0.8);

}

#bottom-right {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#top-left {
    flex: 2;
}

/* This is for the witdh of the top right container */
#top-right {
    flex: .667; 
    /* background-image: linear-gradient(to right, #008cff, orange); */
    background-color: rgba(10, 49, 97, 0.8);

    justify-content: space-between;
}





/* This is for the height of the bottom two containers */
.flex-row:last-child {
    flex: 7; 
}

#weatherInfo {
    color: white;
}

.logo-img {
    height: 75px; 
    width: auto;
    max-width: 75px;
    object-fit: contain;
}

.logo-and-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
}

/* For side info */
#side-info {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    /* background-color: #e8eaed; */
    background-color: rgba(221, 221, 221, 0.8);

}

#side-info canvas {
    width: 90%;
    max-width: 100%;
    /* height: 300px;  */
    /* height: 100%; */
    margin-bottom: 20px;
}

/* For map container */
#map-container {
    flex: 3; 
    position: relative;
}

/* For size of map in container */
#map {
    width: 100%;
    height: 100%;
}

#weatherImage {
    width: 60%;
    height: 100%;
}


#journey-form-div{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 10%;
    /* background-color: #e8eaed; */
    background-color: rgba(221, 221, 221, 0.8);
    /* flex-basis: 20%; */
    /* flex-grow: 0;
    flex-shrink: 1; */
    max-width: 100%;
    background-color: rgba(221, 221, 221, 0.8);

}

#journey-planner-button {
    position:absolute;
    top: 10px;
    left: 10px;
    z-index: 50;

    text-align: center;
    text-decoration: none;
    font-size: 16px;
} 

#journey-planner-div {
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    /* background-color: #e8eaed; */
    background-color: rgba(221, 221, 221, 0.8);
    flex-basis: 220px;
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 220px;

}

.journey-planner-img {
    width: 100%; 
    max-width: 100px; 
    max-height: 100px;
    display: block; 
    margin: 10px auto; 
}


.info{
    font-size: 0.7rem;
    padding-left: 6%;
    padding-right: 6%;
}

.timeSelection {
    height: 100%;
    width: 90%;
    top: 10px;
    left: 10px;
    z-index: 5;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 0.8vh;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.date-time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3%;
    gap: 5%;

}

#map-search-start, #map-search-fin {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#checkboxes-start, #checkboxes-fin{
    padding-left: 5%;
    padding-right: 5%;
    margin: 3%;
    gap: 5%;

}

#Legend {
    display: none;
    position: absolute;
    top: 20px;
    right: 10px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: rgba(221, 221, 221, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    flex-direction: column;
    align-items: flex-start; 
}

#toggle-legend {
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 1000; 
    font-size: 16px;
}

.legend-content {
    display: none;
}

.show-legend {
    display: block;
}

.availability-item {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    gap: 10px; 
    margin-top: 5px;
}

.bike-availability-img {
    width: 25px; 
    height: 30px; 
}

/* For smaller screen sizes */
@media (max-width: 800px) {
    .flex-row {
        flex-direction: column; 
    }

    .flex-item{
        width: 100%;
        padding: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    body {
        font-size: 14px;
    }
    h2 {
        font-size: 20px;
    }

    button, input[type="text"], input[type="date"], select {
        font-size: 16px;
        padding: 10px;
        width: 100%;
    }

    .availability-item img {
        width: 50px; /* Smaller icons for mobile */
    }
    .legend, .availability-item span {
        font-size: 12px;
    }

    #map-container, #side-info {
        flex: none;
        height: 300px; 
    }

    .bike-availability-img {
        width: 20px;
        height: 25px; 
    }

    .map-search, #search {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0; 
    }


    #side-info {
        display: none; /* Hide side info on small devices */
    }

    .availability-item, .map-search, #search {
        min-height: 50px;
        padding: 10px;
    }
}